{% extends "base.html" %}
{% block content %}
    <div class="button-container">
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="quick_info" class="menu-btn">Quick Info</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="fire" class="menu-btn">Fire</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="maintenance" class="menu-btn">Maintenance / Damage</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="parties" class="menu-btn">Parties</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="medical_assistance" class="menu-btn">Medical Assistance</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="student_welfare" class="menu-btn">Student Welfare</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="sexual_violence" class="menu-btn">Sexual Violence</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="flat_issues" class="menu-btn">Flat issues / conflict</button>
            </form>
        </div>
        <div class="">
            <form method="post" class="menu-button">
                <button type="submit" name="button" value="miscellaneous" class="menu-btn">Miscellaneous</button>
            </form>
        </div>

    </div>
{% endblock%}
